body {
	background-color: rgb(40, 40, 40);
}

h1, p {
	font-family: monospace;
}

h1 {
	color: rgb(131, 165, 152);
	font-size: 30px;
}

p, ul {
	color: rgb(235, 219, 178);
	font-size: 18px;
}

a, a:visited {
	color: rgb(131, 165, 152);
	text-decoration: unset;
}

a:hover {
	color: rgb(69, 133, 136);
}

img {
	width: 20%;
	height: 20%;
}